* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ededed;
  /* background-color: orange; */
  /* color: white; */
  font-family: sans-serif;
  overflow-x: hidden; /* Hides the horizontal scrollbar */
}

/* nav bar  */

nav {
  height: 100px;
  width: 100%;
  background-color: #2b3541;
  overflow: none;
}

.section1 {
  /* background-color: skyblue; */
  height: 65px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  margin-top: 2px;
  /* background-color: violet; */
  height: 35px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 540;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section2 div{
  height: 35px;
  width: 12%;
  /* background-color: pink; */
  display: flex;
  justify-content: left;
  align-items: center;
}

a {
  padding: 2px 1.5% 0px 1.5%;
  margin-top: 2%;
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

/* content of section 1  */

.n1 {
  width: 10%;
  /* background-color: black; */
}

.n2 {
  background-color: white;
  color: black;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37px;
  font-size: 1rem;
  border-radius: 4px;
}

.n3 {
  /* background-color: black; */
  width: 40%;
  height: 35px;
}

.n3-search {
  width: 80%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 35px;
  padding-left: 5px;
  font-size: 0.9rem;
}

.n3 button {
  background-color: #01a2e6;
  width: 8%;
  height: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
}

.n4 {
  /* background-color: aqua; */
  font-size: 1rem;
  color: rgba(255, 166, 0, 0.832);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8%;
  height: 30px;
  font-weight: 400;
}

.n4 a {
  color: rgba(255, 166, 0, 0.759);
}

.n5 {
  /* background-color: black; */
  font-size: 1rem;
  color: rgba(255, 166, 0, 0.832);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8%;
  height: 30px;
  font-weight: 400;
}

/* ad banner  */

.ad-banner {
  background-color: #01a2e6;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.p1 {
  height: 80px;
  width: 80%;
  /* background-color: rgba(255, 166, 0, 0.606); */
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
}

.p1 img {
  height: 80px;
}

.ad-text1 {
  margin-left: 20px;
  padding-left: 10px;
}

.ad-text1 .t2 {
  font-size: 1.1rem;
  /* color: #f7fc00; */
  margin-bottom: 2px;
  color: white;
  font-weight: 500;
}

.ad-text1 .t2 {
  font-size: 1.4rem;
  color: #f7fc00;
}

.ad-text2 {
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.p1 .txt2 {
  /* background-color: #007BFF; */
  color: #f7fc00;
}

.p2 button {
  border: 2px solid white;
  height: 45px;
  width: 140px;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  background-color: #01a2e6;
}

.ad-line {
  height: 54px;
  width: 1.5px;
  background-color: white;
  margin-left: 2%;
}

/* disclaimer  */

.disclaimer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
  height: 35px;
  width: 100%;
  font-size: 0.9rem;
}

.txt {
  margin-left: 5%;
}

/* icons  */
.bg {
  background-color: white;
  height: 170px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 170px;
  width: 90%;
  /* background-color: pink */
}

.i .a1 {
  height: 60px;
  width: 55px;
  opacity: 1;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 50% !important;
  padding: 20%;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.i .a1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i12-more img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i .a2 {
  height: 20px;
  width: 80px;
  /* background-color: aqua; */
  text-align: center;
  font-size: 0.8rem;
}

/* ================== Trending =================  */


.trending{
  display: flex;
  justify-content: left;
  align-items:end;
  margin-left: 5%;
  height: 90px;
  width: 100%;
  font-size: 1.2rem;
  /* background-color: pink; */
  padding-bottom: 10px;
}

.t-txt {
  margin-left: 5%;
}



/* ======================= items flex boxes ============  */

.mrgbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2% 1.4%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  border-radius: 4px;
}

.box {
  height: 360px;
  width: 92%;
  /* background-color: aquamarine; */
  /* border: 2px solid black; */
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.b1 {
  height: 50%;
  width: 100%;
  /* background-color: bisque; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 img {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.b2 {
  height: 50%;
  width: 100%;
  /* background-color: #f7fc00; */
}

/* ===================b2-1 ===================== */

.b2-1 {
  height: 10%;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
  color: #01a2e6;
  font-weight: 500;
}

.b2-1 p {
  padding-left: 3px;
  font-size: 1rem;
}

/*======================== b2-2 =================== */

.b2-2 {
  height: 40%;
  width: 100%;
  /* background-color: violet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

svg {
  height: 88%;
  width: 88%;
  /* background-color: violet; */
  display: flex;
  justify-content: right;
}

/* ====================== b2-3 ======================== */

.b2-3 {
  height: 20%;
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: left;
  align-items: center;
}

#price-1 {
  font-size: 1.1rem;
  font-weight: 550;
  padding-right: 10px;
}

#price-2 {
  font-size: 0.9rem;
  font-weight: 300;
  padding-right: 20px;
  color: grey;
  text-decoration: line-through;
}

#price-3 {
  font-size: 1rem;
  font-weight: 400;
  color: red;
}

/* ====================== b2-4 ======================== */
.b2-4 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#amazon {
  height: 70%;
  width: 30%;
  background-color: #01a2e6;
  color: white;
  border-radius: 4px;
  font-size: 1.1rem;
  border: 0;
}

#all-options {
  height: 70%;
  width: 60%;
  background-color: white;
  color: #2787f4;
  border-radius: 4px;
  font-size: 0.9rem;
  border: 1px solid #01a2e6;
  margin-right: 5%;
}

.show-more {
  margin-top: 1%;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more button {
  height: 40px;
  width: 120px;
  background-color: #01a2e6;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.b2 .b2-1 .fa-2xs {
  display: none;
}

/* ======================= responsive ======================== */

/* for mobile screens  */

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  /* nav bar  */
  nav {
    height: 50px;
    max-width: 100%;
    background-color: #2b3541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .section1 .n1 img {
    /* background-color: red; */
    height: 30px;
    width: 75px;
  }

  .n2,
  .n4,
  .n5,
  .n3-search,
  .section2 {
    display: none;
  }

  .n3 {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .n3 button {
    height: 30px;
    width: 30px;
    align-items: right;
    background-color: #2b3541;
    border: none;
  }

  /* ad banner  */

  .ad-banner {
    overflow-x: hidden;
    background-color: #01a2e6;
    /* background-color: orange; */
    height: 40px;
    max-width: 100%;
    color: white;
  }

  .p1 {
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .p1 img {
    height: 40px;
    width: 50%;
  }

  .ad-text1,
  .ad-text2 {
    height: 40px;
    width: 15%;
  }

  .ad-text1 {
    padding-top: 5%;
  }

  .ad-text1 .t1 {
    font-size: 0.4rem;
    color: white;
    /* padding-top: 4px; */
    padding-right: 20px;
  }

  .ad-text1 .t2 {
    font-size: 0.6rem;
    color: #f7fc00;
  }

  .ad-text2 {
    /* background-color: pink; */
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
  }

  .p2 {
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2 .ad-button {
    border: 1px solid white;
    height: 20px;
    width: 55px;
    font-size: 0.5rem;
    color: white;
    font-weight: 500;
    background-color: #01a2e6;
  }

  .ad-line {
    height: 35px;
    width: 1px;
    background-color: white;
  }

  /* disclaimer  */

  .disclaimer {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    height: 20px;
    max-width: 100%;
    font-size: 0.5rem;
  }

  .txt {
    margin-left: 5%;
  }

  /* icons  */
  .bg {
    background-color: white;
    height: 330px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 5%; */
    height: 170px;
    width: 90%;
    /* background-color: pink */
  }

  .i {
    margin-top: 10px;
  }

  .i .a1 {
    height: 30px;
    width: 30px;
    opacity: 1;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50% !important;
    padding: 20%;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .i .a1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i12-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i .a2 {
    height: 30px;
    width: 70px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 0.605rem;
  }

  /* ================== Trending =================  */
  .trending{
    display: flex;
    justify-content: left;
    align-items:end;
    margin-left: 5%;
    width: 100%;
    /* background-color: pink; */
    padding-bottom: 10px;
    height: 60px;
    font-size: 0.7rem;
  }
  
  .t-txt {
    margin-left: 5%;
  }
  
  /* ======================= items flex boxes ============  */

  .mrgbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1% 0%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    border-radius: 4px;
  }

  .box {
    height: 230px;
    width: 88%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .b1 {
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .b2 {
    height: 50%;
    width: 100%;
    /* background-color: #f7fc00; */
  }

  /* ===================b2-1 ===================== */

  .b2-1 {
    height: 10%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    color: #01a2e6;
    font-weight: 500;
  }

  .b2-1 p {
    /* padding-left: 3px; */
    font-size: 0.55rem;
  }

  .b2 .b2-1 .fa-2xs {
    display: block;
  }

  .b2 .fa-solid {
    display: none;
  }

  /*======================== b2-2 =================== */

  .b2-2 {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b2-2 p {
    font-size: 0.6rem;
  }

  svg {
    height: 80%;
    width: 80%;
    /* background-color: violet; */
    display: flex;
    justify-content: right;
  }

  /* ====================== b2-3 ======================== */

  .b2-3 {
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #price-1 {
    font-size: 0.7rem;
    font-weight: 600;
    padding-right: 10px;
  }

  #price-2 {
    font-size: 0.65rem;
    font-weight: 300;
    padding-right: 10px;
    color: grey;
    text-decoration: line-through;
  }

  #price-3 {
    font-size: 0.7rem;
    font-weight: 400;
    color: red;
  }

  /* ====================== b2-4 ======================== */
  .b2-4 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #amazon {
    height: 70%;
    width: 30%;
    background-color: #01a2e6;
    color: white;
    border-radius: 4px;
    font-size: 0.65rem;
    border: 0;
  }

  #all-options {
    height: 70%;
    width: 60%;
    background-color: white;
    color: #2787f4;
    border-radius: 4px;
    font-size: 0.6rem;
    border: 1px solid #01a2e6;
    margin-right: 5%;
  }

  .show-more {
    margin-top: 1%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more button {
    height: 25px;
    width: 75px;
    background-color: #01a2e6;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 0.65rem;
    font-weight: 400;
  }
}

/* for tablets   */

@media (min-width: 500px) and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  /* nav bar  */
  nav {
    height: 50px;
    max-width: 100%;
    background-color: #2b3541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .section1 .n1 img {
    /* background-color: red; */
    height: 60px;
    width: 90px;
  }

  .n2,
  .n4,
  .n5,
  .n3-search,
  .section2 {
    display: none;
  }

  .n3 {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .n3 button {
    height: 40px;
    width: 40px;
    align-items: right;
    background-color: #2b3541;
    border: none;
  }

  /* ad banner  */

  .ad-banner {
    overflow-x: hidden;
    background-color: #01a2e6;
    /* background-color: orange; */
    height: 50px;
    max-width: 100%;
    color: white;
  }

  .p1 {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .p1 img {
    height: 50px;
    width: 50%;
  }

  .ad-text1,
  .ad-text2 {
    height: 50px;
    width: 15%;
  }

  .ad-text1 {
    padding-top: 5%;
  }

  .ad-text1 .t1 {
    font-size: 0.7rem;
    color: white;
    /* padding-top: 4px; */
    padding-right: 20px;
  }

  .ad-text1 .t2 {
    font-size: 0.8rem;
    color: #f7fc00;
  }

  .ad-text2 {
    /* background-color: pink; */
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
  }

  .p2 {
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2 .ad-button {
    border: 1px solid white;
    height: 30px;
    width: 65px;
    font-size: 0.6rem;
    color: white;
    font-weight: 500;
    background-color: #01a2e6;
  }

  .ad-line {
    height: 40px;
    width: 1.3px;
    background-color: white;
  }

  /* disclaimer  */

  .disclaimer {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    height: 30px;
    max-width: 100%;
    font-size: 0.65rem;
  }

  .txt {
    margin-left: 5%;
  }

  /* icons  */
  .bg {
    background-color: white;
    height: 355px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 5%; */
    height: 180px;
    width: 90%;
    /* background-color: pink */
  }

  .i {
    margin-top: 10px;
  }

  .i .a1 {
    height: 35px;
    width: 35px;
    opacity: 1;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50% !important;
    padding: 20%;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .i .a1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i12-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i .a2 {
    height: 24px;
    width: 85px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 0.65rem;
  }

  /* ================== Trending =================  */

  .trending{
    display: flex;
    justify-content: left;
    align-items:end;
    margin-left: 5%;
    width: 100%;
    /* background-color: pink; */
    padding-bottom: 10px;
    height: 75px;
    font-size: 0.85rem;
  }
  
  .t-txt {
    margin-left: 5%;
  }

  /* ======================= items flex boxes ============  */

  .mrgbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1% 0%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    border-radius: 4px;
  }

  .box {
    height: 295px;
    width: 92%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .b1 {
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .b2 {
    height: 50%;
    width: 100%;
    /* background-color: #f7fc00; */
  }

  /* ===================b2-1 ===================== */

  .b2-1 {
    height: 10%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    color: #01a2e6;
    font-weight: 500;
  }

  .b2-1 p {
    /* padding-left: 3px; */
    font-size: 0.75rem;
  }

  .b2 .b2-1 .fa-2xs {
    display: block;
  }

  .b2 .fa-solid {
    display: none;
  }

  /*======================== b2-2 =================== */

  .b2-2 {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b2-2 p {
    font-size: 12px;
  }

  svg {
    height: 95%;
    width: 95%;
    /* background-color: violet; */
    display: flex;
    justify-content: right;
  }

  /* ====================== b2-3 ======================== */

  .b2-3 {
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #price-1 {
    font-size: 0.85rem;
    font-weight: 550;
    padding-right: 10px;
  }

  #price-2 {
    font-size: 0.77rem;
    font-weight: 300;
    padding-right: 10px;
    color: grey;
    text-decoration: line-through;
  }

  #price-3 {
    font-size: 0.75rem;
    font-weight: 400;
    color: red;
  }

  /* ====================== b2-4 ======================== */
  .b2-4 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #amazon {
    height: 70%;
    width: 30%;
    background-color: #01a2e6;
    color: white;
    border-radius: 4px;
    font-size: 0.85rem;
    border: 0;
  }

  #all-options {
    height: 70%;
    width: 60%;
    background-color: white;
    color: #2787f4;
    border-radius: 4px;
    font-size: 0.8rem;
    border: 1px solid #01a2e6;
    margin-right: 5%;
  }

  .show-more {
    margin-top: 2%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more button {
    height: 30px;
    width: 85px;
    background-color: #01a2e6;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

/* for more larger screens  */

@media (min-width: 700px) and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  /* nav bar  */
  nav {
    height: 60px;
    max-width: 100%;
    background-color: #2b3541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .section1 .n1 {
    width: 20%;
  }

  .section1 .n1 img {
    /* background-color: red; */
    height: 80px;
    width: 90%;
  }

  .section2,
  .n2 {
    display: none;
  }

  .section1 .n3 {
    /* background-color: black; */
    width: 40%;
    height: 35px;
  }

  .section1 .n3-search {
    width: 80%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 35px;
    padding-left: 5px;
    font-size: 0.9rem;
  }

  .section1 .n3 button {
    background-color: #01a2e6;
    width: 13%;
    height: 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
  }

  .section1 .n4 {
    /* background-color: aqua; */
    font-size: 1rem;
    color: rgba(255, 166, 0, 0.832);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 30px;
    font-weight: 400;
  }

  .n4 a {
    color: rgba(255, 166, 0, 0.759);
  }

  .section1 .n5 {
    /* background-color: black; */
    font-size: 1rem;
    color: rgba(255, 166, 0, 0.832);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 30px;
    font-weight: 400;
  }
  /* ad banner  */

  .ad-banner {
    overflow-x: hidden;
    background-color: #01a2e6;
    height: 65px;
    max-width: 100%;
    color: white;
  }

  .p1 {
    height: 65px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .p1 img {
    height: 65px;
    width: 50%;
  }

  .ad-text1,
  .ad-text2 {
    height: 65px;
    width: 15%;
  }

  .ad-text1 {
    padding-top: 5%;
  }

  .ad-text1 .t1 {
    font-size: 0.8rem;
    color: white;
    padding-right: 20px;
  }

  .ad-text1 .t2 {
    font-size: 1rem;
    color: #f7fc00;
  }

  .ad-text2 {
    /* background-color: pink; */
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
  }

  .p2 {
    height: 65px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2 .ad-button {
    border: 1px solid white;
    height: 40px;
    width: 100px;
    font-size: 0.85rem;
    color: white;
    font-weight: 700;
    background-color: #01a2e6;
  }

  .ad-line {
    height: 50px;
    width: 1.4px;
    background-color: white;
  }

  /* disclaimer  */

  .disclaimer {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    height: 35px;
    max-width: 100%;
    font-size: 0.75rem;
  }

  .txt {
    margin-left: 5%;
  }

  /* icons  */
  .bg {
    background-color: white;
    height: 260px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 5%; */
    height: 180px;
    width: 90%;
    /* background-color: pink */
  }

  .i {
    margin-top: 10px;
  }

  .i .a1 {
    height: 36px;
    width: 40px;
    opacity: 1;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50% !important;
    padding: 20%;
    margin-bottom: 0.9rem;
    margin-left: auto;
    margin-right: auto;
  }

  .i .a1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i12-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i .a2 {
    height: 26px;
    width: 90px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 0.8rem;
  }

  /* ================== Trending =================  */

  .trending{
    display: flex;
    justify-content: left;
    align-items:end;
    margin-left: 5%;
    width: 100%;
    /* background-color: yellow; */
    padding-bottom: 10px;
    height: 90px;
    font-size: 0.95rem;
  }
  
  .t-txt {
    margin-left: 5%;
  }

  /* ======================= items flex boxes ============  */

  .mrgbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1% 0%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    border-radius: 4px;
  }

  .box {
    height: 280px;
    width: 92%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .b1 {
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .b2 {
    height: 50%;
    width: 100%;
    /* background-color: #f7fc00; */
  }

  /* ===================b2-1 ===================== */

  .b2-1 {
    height: 10%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    color: #01a2e6;
    font-weight: 500;
  }

  .b2-1 p {
    /* padding-left: 3px; */
    font-size: 0.75rem;
  }

  .b2 .b2-1 .fa-2xs {
    display: block;
  }

  .b2 .fa-solid {
    display: none;
  }

  /*======================== b2-2 =================== */

  .b2-2 {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b2-2 p {
    font-size: 12px;
  }

  svg {
    height: 80%;
    width: 80%;
    /* background-color: violet; */
    display: flex;
    justify-content: right;
  }

  /* ====================== b2-3 ======================== */

  .b2-3 {
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #price-1 {
    font-size: 0.75rem;
    font-weight: 550;
    padding-right: 10px;
  }

  #price-2 {
    font-size: 0.7rem;
    font-weight: 300;
    padding-right: 10px;
    color: grey;
    text-decoration: line-through;
  }

  #price-3 {
    font-size: 0.7rem;
    font-weight: 400;
    color: red;
  }

  /* ====================== b2-4 ======================== */
  .b2-4 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #amazon {
    height: 70%;
    width: 30%;
    background-color: #01a2e6;
    color: white;
    border-radius: 4px;
    font-size: 0.7rem;
    border: 0;
  }

  #all-options {
    height: 70%;
    width: 60%;
    background-color: white;
    color: #2787f4;
    border-radius: 4px;
    font-size: 0.68rem;
    border: 1px solid #01a2e6;
    margin-right: 5%;
  }

  .show-more {
    margin-top: 2%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more button {
    height: 30px;
    width: 85px;
    background-color: #01a2e6;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

/* desktop  */

@media (min-width: 900px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  /* nav bar  */
  nav {
    height: 70px;
    max-width: 100%;
    background-color: #2b3541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .section1 .n1 {
    width: 20%;
  }

  .section1 .n1 img {
    /* background-color: red; */
    height: 70px;
    width: 80%;
  }

  .section2,
  .n2 {
    display: none;
  }

  .section1 .n3 {
    /* background-color: black; */
    width: 40%;
    height: 35px;
  }

  .section1 .n3-search {
    width: 80%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 35px;
    padding-left: 5px;
    font-size: 0.9rem;
  }

  .section1 .n3 button {
    background-color: #01a2e6;
    width: 13%;
    height: 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
  }

  .section1 .n4 {
    /* background-color: aqua; */
    font-size: 1rem;
    color: rgba(255, 166, 0, 0.832);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 30px;
    font-weight: 400;
  }

  .n4 a {
    color: rgba(255, 166, 0, 0.759);
  }

  .section1 .n5 {
    /* background-color: black; */
    font-size: 1rem;
    color: rgba(255, 166, 0, 0.832);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 30px;
    font-weight: 400;
  }
  /* ad banner  */

  .ad-banner {
    overflow-x: hidden;
    background-color: #01a2e6;
    height: 65px;
    max-width: 100%;
    color: white;
  }

  .p1 {
    height: 65px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .p1 img {
    height: 65px;
    width: 50%;
  }

  .ad-text1,
  .ad-text2 {
    height: 65px;
    width: 12%;
  }

  .ad-text1 {
    padding-top: 3%;
  }

  .ad-text1 .t1 {
    font-size: 0.9rem;
    color: white;
    padding-right: 0;
  }

  .ad-text1 .t2 {
    font-size: 1.2rem;
    color: #f7fc00;
  }

  .ad-text2 {
    /* background-color: pink; */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
  }

  .p2 {
    height: 65px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2 .ad-button {
    border: 1px solid white;
    height: 40px;
    width: 110px;
    font-size: 0.9rem;
    color: white;
    font-weight: 700;
    background-color: #01a2e6;
  }

  .ad-line {
    height: 50px;
    width: 1.4px;
    background-color: white;
  }

  /* disclaimer  */

  .disclaimer {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    height: 40px;
    max-width: 100%;
    font-size: 0.8rem;
  }

  .txt {
    margin-left: 5%;
  }

  /* icons  */
  .bg {
    background-color: white;
    height: 260px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 5%; */
    height: 180px;
    width: 90%;
    /* background-color: pink */
  }

  .i {
    margin-top: 10px;
  }

  .i .a1 {
    height: 36px;
    width: 40px;
    opacity: 1;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50% !important;
    padding: 20%;
    margin-bottom: 0.9rem;
    margin-left: auto;
    margin-right: auto;
  }

  .i .a1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i12-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i .a2 {
    height: 26px;
    width: 90px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 0.8rem;
  }

  /* ================== Trending =================  */

  .trending{
    display: flex;
    justify-content: left;
    align-items:end;
    margin-left: 5%;
    width: 100%;
    /* background-color: pink; */
    padding-bottom: 10px;
    height: 90px;
    font-size: 1rem;
  }
  
  .t-txt {
    margin-left: 5%;
  }

  /* ======================= items flex boxes ============  */

  .mrgbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5% 2%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    border-radius: 4px;
  }

  .box {
    height: 285px;
    width: 100%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .b1 {
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .b2 {
    height: 50%;
    width: 100%;
    /* background-color: #f7fc00; */
  }

  /* ===================b2-1 ===================== */

  .b2-1 {
    height: 10%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    color: #01a2e6;
    font-weight: 500;
  }

  .b2-1 p {
    /* padding-left: 3px; */
    font-size: 0.80rem;
  }

  .b2 .b2-1 .fa-2xs {
    display: block;
  }

  .b2 .fa-solid {
    display: none;
  }

  /*======================== b2-2 =================== */

  .b2-2 {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b2-2 p {
    font-size: 12px;
    padding-top: 2%;
    text-align: left;
    justify-content: top;
  }

  svg {
    height: 85%;
    width: 85%;
    /* background-color: violet; */
    display: flex;
    justify-content: right;
  }

  /* ====================== b2-3 ======================== */

  .b2-3 {
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #price-1 {
    font-size: 0.85rem;
    font-weight: 550;
    padding-right: 10px;
  }

  #price-2 {
    font-size: 0.75rem;
    font-weight: 300;
    padding-right: 10px;
    color: grey;
    text-decoration: line-through;
  }

  #price-3 {
    font-size: 0.85rem;
    font-weight: 400;
    color: red;
  }

  /* ====================== b2-4 ======================== */
  .b2-4 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #amazon {
    height: 70%;
    width: 30%;
    background-color: #01a2e6;
    color: white;
    border-radius: 4px;
    font-size: 0.82rem;
    border: 0;
  }

  #all-options {
    height: 70%;
    width: 60%;
    background-color: white;
    color: #2787f4;
    border-radius: 4px;
    font-size: 0.75rem;
    border: 1px solid #01a2e6;
    margin-right: 5%;
  }

  .show-more {
    margin-top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more button {
    height: 30px;
    width: 85px;
    background-color: #01a2e6;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

/* all above   */

@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }

  
  /* nav bar  */

nav {
  height: 100px;
  width: 100%;
  background-color: #2b3541;
  overflow: none;
}

.section1 {
  /* background-color: skyblue; */
  height: 65px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  margin-top: 2px;
  /* background-color: violet; */
  height: 35px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 540;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  padding: 2px 1.5% 0px 1.5%;
  margin-top: 2%;
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

/* content of section 1  */

.n1 {
  width: 11%;
  /* background-color: black; */
}

.n1 img{
  height: 60px;
  width: 95%;
  /* background-color: violet; */
}

.n2 {
  background-color: white;
  color: black;
  width: 11%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37px;
  font-size: 0.8rem;
  border-radius: 4px;
}

.n3 {
  /* background-color: black; */
  width: 40%;
  height: 35px;
}

.n3-search {
  width: 80%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 35px;
  padding-left: 5px;
  font-size: 0.9rem;
}

.n3 button {
  background-color: #01a2e6;
  width: 8%;
  height: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
}

.n4 {
  /* background-color: aqua; */
  font-size: 0.9rem;
  color: rgba(255, 166, 0, 0.832);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8%;
  height: 30px;
  font-weight: 400;
}

.n4 a {
  color: rgba(255, 166, 0, 0.759);
}

.n5 {
  /* background-color: black; */
  font-size: 0.9rem;
  color: rgba(255, 166, 0, 0.832);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
  height: 30px;
  font-weight: 400;
}



  /* ad banner  */

  .ad-banner {
    overflow-x: hidden;
    background-color: #01a2e6;
    height: 70px;
    max-width: 100%;
    color: white;
  }

  .p1 {
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .p1 img {
    height: 70px;
    width: 50%;
  }

  .ad-text1,
  .ad-text2 {
    height: 70px;
    width: 12%;
  }

  .ad-text1 {
    padding-top: 3%;
  }

  .ad-text1 .t1 {
    font-size: 1rem;
    color: white;
    padding-right: 0;
  }

  .ad-text1 .t2 {
    font-size: 1.3rem;
    color: #f7fc00;
  }

  .ad-text2 {
    /* background-color: pink; */
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
  }

  .p2 {
    height: 70px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2 .ad-button {
    border: 1px solid white;
    height: 45px;
    width: 120px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #01a2e6;
  }

  .ad-line {
    height: 50px;
    width: 1.4px;
    background-color: white;
  }

  /* disclaimer  */

  .disclaimer {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    height: 45px;
    max-width: 100%;
    font-size: 0.88rem;
  }

  .txt {
    margin-left: 5%;
  }

  /* icons  */
  .bg {
    background-color: white;
    height: 282px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 5%; */
    height: 180px;
    width: 90%;
    /* background-color: pink */
  }

  .i {
    margin-top: 10px;
  }

  .i .a1 {
    height: 45px;
    width: 45px;
    opacity: 1;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50% !important;
    padding: 20%;
    margin-bottom: 0.9rem;
    margin-left: auto;
    margin-right: auto;
  }

  .i .a1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i12-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .i .a2 {
    height: 30px;
    width: 95px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 0.8rem;
  }

  /* ================== Trending =================  */

  .trending{
    display: flex;
    justify-content: left;
    align-items:end;
    margin-left: 5%;
    width: 100%;
    /* background-color:pink; */
    padding-bottom: 10px;
    height: 90px;
    font-size: 1.1rem;
  }
  
  .t-txt {
    margin-left: 5%;
  }

  /* ======================= items flex boxes ============  */

  .mrgbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.9% 2%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    border-radius: 4px;
  }

  .box {
    height: 360px;
    width: 100%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .b1 {
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1 img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  .b2 {
    height: 50%;
    width: 100%;
    /* background-color: #f7fc00; */
  }

  /* ===================b2-1 ===================== */

  .b2-1 {
    height: 10%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    color: #01a2e6;
    font-weight: 500;
  }

  .b2-1 p {
    /* padding-left: 3px; */
    font-size: 1rem;
  }

  .b2 .b2-1 .fa-2xs {
    display: none;
  }

  .b2 .fa-solid {
    display: block;
  }

  /*======================== b2-2 =================== */

  .b2-2 {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b2-2 p {
    font-size: 16px;
    padding-top: 2%;
  }

  svg {
    height: 80%;
    width: 80%;
    /* background-color: violet; */
    display: flex;
    justify-content: right;
  }

  /* ====================== b2-3 ======================== */

  .b2-3 {
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #price-1 {
    font-size: 0.95rem;
    font-weight: 700;
    padding-right: 10px;
  }

  #price-2 {
    font-size: 0.85rem;
    font-weight: 300;
    padding-right: 10px;
    color: grey;
    text-decoration: line-through;
  }

  #price-3 {
    font-size: 0.95rem;
    font-weight: 400;
    color: red;
  }

  /* ====================== b2-4 ======================== */
  .b2-4 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #amazon {
    height: 70%;
    width: 30%;
    background-color: #01a2e6;
    color: white;
    border-radius: 4px;
    font-size: 0.9rem;
    border: 0;
  }

  #all-options {
    height: 70%;
    width: 60%;
    background-color: white;
    color: #2787f4;
    border-radius: 4px;
    font-size: 0.88rem;
    border: 1px solid #01a2e6;
    margin-right: 5%;
  }

  .show-more {
    margin-top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more button {
    height: 30px;
    width: 85px;
    background-color: #01a2e6;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
  }
}
